<html>
<body>
<%
conversacion.each do |con|
%>

<label style="color:#000000"><%=con[2]%></label><br />
<label title="<%=con[8]%>" style="color:#FF0000"><%=con[11]%></label><br />

<%
end
%>
</body>
</html>
